body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

.steps {
  width: 600px;
  background-color: #fffffb;
  border-radius: 5px;
  margin: 50px auto;
  padding: 25px 100px;
  box-shadow: 0px 10px 60px 0px #5c63692b;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers > div {
  /* height: 40px; */
  background-color: aliceblue;
  border-radius: 5px;
  padding: 7px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.numbers .active {
  background-color: #0ebe40;
  color: #fff;
  font-weight: bold;
}

.form-heading {
  margin: 30px 0px 20px;
  text-align: center;
}
/* FORM styling */

.myForm {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 30px 0px;
}

label {
  font-size: 14px;
  margin: 15px 0px 5px;
  text-align: left;
}

input {
  font-size: 16px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  padding: 10px 12px;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 20px;
}

button {
  border: none;
  font-size: 14px;
  border-radius: 100px;
  padding: 10px 15px;
  min-width: 110px;
  cursor: pointer;
}
