.city {
  color: inherit;
  background-color: var(--color-dark--2);
  padding: 3rem 2rem;
  width: 80%;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.city h3 {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.city h3 span {
  /* font-size: 3.2rem; */
  line-height: 1;
}

.city p {
  font-size: 1.4rem;
}

.city a:link,
.city a:visited {
  font-size: 1.4rem;
  color: var(--color-brand--1);
}
