.form {
  width: 50%;
  background-color: var(--color-dark--2);
  padding: 2rem 3rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row input,
.row textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.4rem 0.7rem;
  border-radius: 0.3rem;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 1.6rem;
  font-size: 2rem;
  color: black;
}
