.sidebar {
  height: calc(100vh - 2rem);
  width: calc(50vw - 1rem);
  padding: 2rem 1rem;
  background-color: var(--color-dark--1);

  display: flex;
  /* flex-basis: 50rem; */
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: auto;
}
