@import "./styles/variables.css";

@import "./styles/layout.css";

@import "./styles/components.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-primary);
  font-family: "Arial", sans-serif;
  padding: 20px;
}
